---
---

@import 'materialize';

$gold: #ffce31;
$charcoal: #161616;
$white: #ffffff;

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  color: #000;
}

#nav-logo {
  width: 150px;
}

#home a {
  color: $white;
}

#portfolio img {
  padding: 3px;
}

#header-text {
  font-size: 1.3rem;
}

#header-name {
  letter-spacing: 2px;
  font-weight: 700;
}

.icons img {
  display: block;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.parallax-container {
     height: 400px;
   }
.card {
  box-shadow: none;
}

.table-of-contents {
  text-transform: uppercase;
}

.table-of-contents a.active {
  color: $gold;
  border-bottom: none;
  font-weight: bold;
}

.table-of-contents a:hover {
  color: $gold;
  border-bottom: none;
}

.black h1 {
  padding-top: 2rem;
}

.black p {
  padding-bottom: 2rem;
  font-size: large;
  padding-left: 1rem;
  padding-right: 1rem;
}
