---
layout: default
---

{% include nav.html %}
<div class="parallax-container">
    <div class="parallax"><img src="img/WK_WebBkgrd1300x620.jpg">
    </div>
    <div  id="home" class="row section scrollspy">
    <div class="container">
      <br>
      <div class="col s12 l8 offset-l2">
      <div class="row valign-wrapper">
        <div class="col s3">
          <h5 class="white-text center-align valign uppercase"><a href="#">Home</a></h5>
        </div>
        <div class="col s3">
          <h5 class="white-text center-align valign uppercase"><a href="#work">Work</a></h5>
        </div>
        <div class="col s4">
          <img class="center-align valign" src="{{ "/img/wekreative_transWHITE.png" | prepend: site.url }}" alt="" width="100%">
        </div>
        <div class="col s3">
          <h5 class="white-text center-align valign uppercase"><a href="#about">About</a></h5>
        </div>
        <div class="col s3">
          <h5 class="white-text  valign uppercase"><a href="#contact">Contact</a></h5>
        </div>
      </div>
      </div>
      <div class="col s12 l8 offset-l2">
        <h1 class="center white-text"><b>Wekreative Design Group</b></h1>
        <h3 id="header-text"class="center white-text"><i>marketing 	• graphics 	• social 	• web</i></h3>
      </div>
     </div>
    </div>
</div>
  <div class="section white">
<div id="work" class="section scrollspy">
    <div class="row container">
      <h2  class="header center">Get Kreative</h2>
  </div>
  <div class="row">
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
    <div class="col  s12 m3">
      <h2 class="center">image</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <h2 class="center">icon</h2>
      </div>
      <div class="col s12 m3">
        <h2 class="center">icon</h2>
      </div>
      <div class="col s12 m3">
        <h2 class="center">icon</h2>
      </div>
      <div class="col s12 m3">
        <h2 class="center">icon</h2>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="parallax-container valign-wrapper">
      <div class="parallax"><img src="img/WK_WebBkgrd1300x620.jpg">
      </div>
      <div class="container">
        <p class="center white-text valign">Qoute</p>

        </div>
      </div>

  </div>


  {% include contact.html %}
