<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col m2 s4 offset-s4 offset-m5">
      <img class="footer-image"src="img/wekreative_transCHARCOAL.png" alt="" width="70%">
    </div>
    <div class="col s12">
      <p class="center uppercase"><a class="black-text text-lighten-3" href="#home">Home</a> | <a class="black-text text-lighten-3" href="#work">Work</a> | <a class="black-text text-lighten-3" href="#about">About</a> | <a class="black-text text-lighten-3" href="#contact">Contact</a></p>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container black-text uppercase center">
  © 2017 Wekreative
  </div>
</div>
</footer>
