<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col m2 s4 offset-s4 offset-m5">
      <img src="img/wekreative_transGOLD.png" alt="" width="100%">
    </div>
    <div class="col s12 l6 offset-l3 center">
      <div class="col s3">
        <a class="black-text text-lighten-3" href="#home">Home</a>
      </div>
      <div class="col s3">
        <a class="black-text text-lighten-3" href="#work">Work</a>
      </div>
      <div class="col s3">
        <a class="black-text text-lighten-3" href="#about">About</a>
      </div>
      <div class="col s3">
        <a class="black-text text-lighten-3" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container black-text uppercase">
  © 2017 Wekreative
  </div>
</div>
</footer>
