<div class="parallax-container">
    <div class="parallax parallax-top">
      <!-- <img src="{{"/img/Unknown.png" | prepend: site.url }}" alt=""> -->
    <!-- <video webkit-playsinline autoplay loop muted poster="img/waves.png">
      <source src="https://player.vimeo.com/external/206480099.hd.mp4?s=bddd06aea65e4277614b7ad420af11a62748f410&profile_id=119" type="video/mp4">
      <img src="img/waves.png" alt="">
    </video> -->
    </div>
    <div  id="home" class="row section scrollspy">
    <div class="container">
      <br>
      <div class="col s12 l8 offset-l2">
      <div class="row valign-wrapper">
        <div class="col s3 center">
          <h5 class="center-align valign uppercase"><a href="#">Home</a></h5>
        </div>
        <div class="col s3 center">
          <h5 class="center-align valign uppercase"><a href="#work">Work</a></h5>
        </div>
        <div class="col s4">
          <img class="center-align valign" src="{{ "/img/wekreative_transGOLD.png" | prepend: site.url }}" alt="" width="100%">
        </div>
        <div class="col s3 center">
          <h5 class="center-align valign uppercase"><a href="#about">About</a></h5>
        </div>
        <div class="col s3 center">
          <h5 class="valign uppercase"><a href="#contact">Contact</a></h5>
        </div>
      </div>
      </div>
      <div class="col s12 l8 offset-l2">
        <h1 id="header-name" class="center uppercase">Wekreative Design Group</h1>
        <h3 id="header-text" class="center" style="letter-spacing: 2px; font-size: 1.5rem"><i>bringing your brand to life</i></h3>
      </div>
     </div>
    </div>
</div>
