<div class="section white get-kreative">
<div id="work" class="section scrollspy get-kreative">
  <div class="black" style="background-color: #161616;">
      <h1 class="header center uppercase white-text">Get Kreative</h1>
      <p  class="center white-text">At WEKREATIVE, our goal is to provide creative direction, strategic thinking and <br> experienced execution to launch, grow or revitalize your business or organization.</p>
  </div>
  <div class="row icon-row">
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_1a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_1b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_2a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_2b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_3a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_3b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_4a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_4b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_5a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_5b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_6a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_6b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_7a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_7b.png" alt="Avatar" class="image">
      </div>
    </div>
    <div class="col s6 m3 slide-icon">
      <img src="img/WK_Web_Icons_8a.png" alt="Avatar" class="image">
      <div class="overlay">
        <img src="img/WK_Web_Icons_8b.png" alt="Avatar" class="image">
      </div>
    </div>
  </div>
  </div>
</div>
